.menu {
    width: 75%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #000;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.closeBtn {
    right: 1rem;
    top: 1rem;
}

@media (min-width: 768px) {
    .menu {
        position: static;
        background: none;
        width: auto;
        height: auto;
        padding: 0;
    }
    .closeBtn {
        display: none;
    }
}
